.tabs-header{
    display: flex;
    gap: 0px;
    background-color:var(--color-gray);
}
.tabs-header>div{
    padding: 0px;
    cursor: pointer;
    padding: 20px 30px;
    font-weight: 500;
    background-color: var(--color-gray) !important;
}
.tabs-header>.tab-selected{
    background-color: var(--color-gray1) !important;
    color: var(--color-fg) !important;
}

.tabs-content{
    display: none;
    margin: 10px;
}
.content-selected{
    display: block !important;
}