.editor-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #1C1D1D;

}
.editor-container::-webkit-scrollbar{
    width: 0px;
    background:transparent;
}
.main-container::-webkit-scrollbar{
    width: 0px;
    background: transparent;

}
.main-container{
    background-color: blueviolet;
}
.left-container-editor{
    min-width: 30%;
    width:80%;
    overflow-y: scroll;
    
}
.left-container-editor::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.middle-bar-editor{
    background-color: rgb(53, 54, 60);
    cursor: col-resize;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-container-editor{
    width: 100%;
    min-width: 300px;
}
.accessory-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--color-gray);
    padding-right: 40px;
}