.navbar{
    width: 100%;
    transition: 0.5s ease;
    background-color: rgb(36, 37, 41);
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
}
.nav-logo{
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-fg);    
}
.nav-logo>div{
    font-size: 18px;
    font-weight: 900;
}
.right-nav{
    margin-right: 40px;
    cursor: pointer;
}