body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

:root {
  --color-fg: #35B37B;
  --color-bg-secondary: #2F2F2E;
  --color-bg: #1C1C1C;
  --color-gray1:#1C1C1D;
  --color-fg-secondary: #7e7e7e;
  --color-primary: white;
  --color-gray:rgb(36, 37, 41);
}
button{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
}
body::-webkit-scrollbar{
  width: 0px !important;
  background: transparent !important;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent !important;
}
.flex{
  display: flex;
}