body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

:root {
  --color-fg: #35B37B;
  --color-bg-secondary: #2F2F2E;
  --color-bg: #1C1C1C;
  --color-fg-secondary: #7e7e7e;
  --color-primary: white
}
button{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
}